{% extends "base.html" %}
{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md">
    <a href="{{ url_for('create_account') }}" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Add budget</a>
<br><br>
    <h3 class="text-lg font-semibold mb-4">Budget</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="space-y-4">
                    {% for category, message in messages %}
                        <div class="p-4 rounded-lg text-white
                            {% if category == 'success' %}
                                bg-green-500
                            {% elif category == 'error' %}
                                bg-red-500
                            {% else %}
                                bg-red-500
                            {% endif %}
                        ">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}<br>
     <table class="w-full border-collapse border border-gray-200">
        <thead>

            <tr class="bg-gray-100">
                <th class="p-4 border border-gray-200 text-left">#</th>
                <th class="p-4 border border-gray-200 text-left">Budget name</th>
                <th class="p-4 border border-gray-200 text-left">Balance</th>
                <th class="p-4 border border-gray-200 text-left">Start Date</th>
                <th class="p-4 border border-gray-200 text-left">End Date</th>
                <th class="p-4 border border-gray-200 text-left">Status</th>
                <th class="p-4 border border-gray-200 text-left">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for acc in accounts %}
                <tr>
                    <td class="p-4 border border-gray-200">{{ loop.index }}</td>
                    <td class="p-4 border border-gray-200">{{ acc[1] }}</td>
                    <td class="p-4 border border-gray-200">{{ acc[2] }}</td>
                    <td class="p-4 border border-gray-200">{{ acc[3] }}</td>
                    <td class="p-4 border border-gray-200">{{ acc[4] }}</td>
                    <td class="p-4 border border-gray-200">
                        {% if acc[5] == 1 %}
                        <p class="bg-green-500 text-white rounded-full text-center">Active</p>
                        {% else %}
                        <p class="bg-red-500 text-white rounded-full text-center">Deactive</p>
                        {% endif %}
                    </td>
                    <td class="p-4 border border-gray-200">
                        <a href="/edit_budget/{{ acc[0] }}" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700">Edit</a>
                        <a href="/delete_budget/{{ acc[0] }}" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700">Delete</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}