{% extends "base.html" %}
{% block content %}

    <!-- Form Section -->
<div class="bg-white p-6 rounded-lg shadow-md mt-40">
    <a href="{{ url_for('sub_categories') }}" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Back to sub categories</a>
    <br><br>
    <h3 class="text-lg font-semibold mb-4">Add new sub category</h3>

    <form class="space-y-4" method="post">
        <select required name="cat_id" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200">
            <option>Select Category</option>
            {% for name in cat_name %}
            <option value="{{ name[0] }}">{{ name[1] }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Enter sub category name" name="name" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" required>
        <input type="text" placeholder="Enter sub category description" name="description" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" required>

        <button type="submit" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700">Add sub category</button>
    </form>
</div>
{% endblock content %}