{% extends "base.html" %}
{% block content %}

    <!-- Form Section -->
<div class="bg-white p-6 rounded-lg shadow-md">
    <a href="{{ url_for('payment_methods') }}" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Back to payment methods</a>
    <br><br>
    <h3 class="text-lg font-semibold mb-4">Add new payment method</h3>

    <form class="space-y-4" method="POST">

        <input type="text" placeholder="Enter method" name="method" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" required>
        <input type="text" placeholder="Enter description" name="description" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" required>

        <button type="submit" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700">Add payment methods</button>
    </form>
</div>
{% endblock content %}