{% extends "base.html" %}
{% block content %}

    <!-- Form Section -->
<div class="bg-white p-6 rounded-lg shadow-md">
    <a href="{{ url_for('categories') }}" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Back to sub categories</a>
    <br><br>
    <h3 class="text-lg font-semibold mb-4">Edit sub category</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="space-y-4">
                    {% for category, message in messages %}
                        <div class="p-4 rounded-lg text-white
                            {% if category == 'success' %}
                                bg-green-500
                            {% elif category == 'error' %}
                                bg-red-500
                            {% else %}
                                bg-red-500
                            {% endif %}
                        ">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}<br>
    {% if subcategory %}
    <form class="space-y-4" method="post">
        <select required name="cat_id" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200">
            <option>Select Category</option>
            {% for name in cat_name %}
            <option value="{{ name[0] }}">{{ name[1] }}</option>
            {% endfor %}
        </select>
        <input type="text" value="{{ subcategory[2] }}" placeholder="Enter category name" name="name" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" required>
        <input type="text" value="{{ subcategory[3] }}" placeholder="Enter category description" name="description" class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" required>

        <button type="submit" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700">Edit sub category</button>
    </form>
    {% endif %}
</div>
{% endblock content %}